.App {
   text-align: center;
   background-image: linear-gradient(rgba(0, 248, 54, 0.288), rgba(0, 17, 255, 0.596)),
   url('./styles/espacio.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   width: 100vw;
   height: 100vw;
   display: flex;
   flex-direction: column;
}